# Directories to exclude
dist
assets
node_modules
.husky/**


# File extensions to exclude
*.sh
*.log
*.txt
*.xml
*.conf
.env

# Files to exclude
package-lock.json
.vscode
.gitignore
.editorconfig
.prettierignore
.eslintignore
.browserslistrc
.firebaserc
firestore.rules
storage.rules
tests/**/**
favicon.ico
src/common/type.ts